<!DOCTYPE html>
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["museredirect.js", "jquery-1.8.3.min.js", "museutils.js", "jquery.musemenu.js", "webpro.js", "jquery.watch.js", "contact.css"], "outOfDate":[]};
</script>

  <script src="scripts/museredirect.js?3899419633" type="text/javascript"></script>

  <script type="text/javascript">
   Muse.Redirect.redirect('desktop', 'tablet/contact.html', 'phone/contact.html');
</script>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2015.0.2.310"/>
  <title>Contact</title>
  <link media="only screen and (max-device-width: 370px)" rel="alternate" href="http://www.welearn2fly.com/phone/contact.html"/>
  <link media="only screen and (max-device-width: 960px)" rel="alternate" href="http://www.welearn2fly.com/tablet/contact.html"/>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/site_global.css?513919863"/>
  <link rel="stylesheet" type="text/css" href="css/master_a-master.css?4246276592"/>
  <link rel="stylesheet" type="text/css" href="css/contact.css?4004713633" id="pagesheet"/>
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="css/iefonts_contact.css?49247149"/>
  <![endif]-->
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/montserrat:n4:all;raleway:n7,n4,n5:all;open-sans:n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--custom head HTML-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u4705-bw">
     <div class="pinned-colelem" id="u4705"><!-- simple frame --></div>
    </div>
    <a class="anchor_item colelem" id="top"></a>
    <a class="nonblock nontext clip_frame pinned-colelem" id="u27479" href="index.html"><!-- image --><img class="block" id="u27479_img" src="images/logo_3_1.png" alt="" width="236" height="56"/></a>
    <div class="pinned-colelem" id="u31546"><!-- custom html -->
     <i class="fa fa-map-marker"></i>
</div>
    <div class="clearfix pinned-colelem" id="u27289-4"><!-- content -->
     <p>36 Bd de la Liberté, 13001 Marseille, France</p>
    </div>
    <div class="pinned-colelem" id="u31548"><!-- custom html -->
     <i class="fa fa-phone"></i>
</div>
    <div class="clearfix pinned-colelem" id="u27288-4"><!-- content -->
     <p>+33 6 50 21 55 14</p>
    </div>
    <div class="pinned-colelem" id="u31550"><!-- custom html -->
     <i class="fa fa-envelope"></i>
</div>
    <div class="clearfix pinned-colelem" id="u27290-4"><!-- content -->
     <p>ahedaziza@gmail.com</p>
    </div>
    <div class="browser_width" id="u4706-bw">
     <div class="pinned-colelem" id="u4706"><!-- simple frame --></div>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu4707"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u4715"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u4716" href="index.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u4719-4"><!-- content --><p>HOME</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u4722"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u4725" href="about-us.html.twig"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u4728-4"><!-- content --><p>ABOUT US</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u4708"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u4711" href="services.html.twig"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u4713-4"><!-- content --><p>SERVICES</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u4729"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u4730" href="gallery.html.twig"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u4732-4"><!-- content --><p>GALLERY</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u4743"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u4746" href="news.html.twig"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u4748-4"><!-- content --><p>NEWS</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u4736"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u4739" href="contact.html.twig"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u4740-4"><!-- content --><p>CONTACT</p></div></a>
     </div>
    </nav>
    <div class="pinned-colelem" id="u31552"><!-- custom html -->
     <i class="fa fa-facebook"></i>
</div>
    <div class="pinned-colelem" id="u31554"><!-- custom html -->
     <i class="fa fa-instagram"></i>
</div>
    <div class="pinned-colelem" id="u31556"><!-- custom html -->
     <i class="fa fa-google-plus"></i>
</div>
    <div class="pinned-colelem" id="u31558"><!-- custom html -->
     <i class="fa fa-twitter"></i>
</div>
    <div class="pinned-colelem" id="u31560"><!-- custom html -->
     <i class="fa fa-pinterest"></i>
</div>
    <div class="pinned-colelem" id="u31562"><!-- custom html -->
     <i class="fa fa-rss"></i>
</div>
    <div class="fadeInUp clearfix colelem" id="u28561-4"><!-- content -->
     <p>CONTACT US</p>
    </div>
    <div class="clearfix colelem" id="u28562-4"><!-- content -->
     <p>GET IN TOUCH WITH US</p>
    </div>
    <div class="clip_frame colelem" id="u28563"><!-- image -->
     <img class="block" id="u28563_img" src="images/line%201.png" alt="" width="250" height="35"/>
    </div>
    <form class="form-grp clearfix colelem" id="widgetu23821" method="post" enctype="multipart/form-data" action="scripts/form-u23821.php"><!-- none box -->
     <div class="fld-grp clearfix grpelem" id="widgetu23832" data-required="true"><!-- none box -->
      <label class="fld-label actAsDiv clearfix grpelem" id="u23834-4" for="widgetu23832_input"><!-- content --><span class="actAsPara">NAME *</span></label>
      <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u23835-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu23832_input" name="custom_U23832" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu23832_prompt" for="widgetu23832_input"><span class="actAsPara">Enter Name</span></label></span>
     </div>
     <div class="fld-grp clearfix grpelem" id="widgetu23836" data-required="true" data-type="email"><!-- none box -->
      <label class="fld-label actAsDiv clearfix grpelem" id="u23837-4" for="widgetu23836_input"><!-- content --><span class="actAsPara">EMAIL *</span></label>
      <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u23838-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu23836_input" name="Email" tabindex="3"/><label class="wrapped-input fld-prompt" id="widgetu23836_prompt" for="widgetu23836_input"><span class="actAsPara">Enter Email</span></label></span>
     </div>
     <div class="clearfix grpelem" id="u23823-4"><!-- content -->
      <p><span id="u23823">Submitting Form...</span></p>
     </div>
     <div class="clearfix grpelem" id="u23822-4"><!-- content -->
      <p><span id="u23822">The server encountered an error.</span></p>
     </div>
     <div class="clearfix grpelem" id="u23841-4"><!-- content -->
      <p><span id="u23841">Form received.</span></p>
     </div>
     <input class="submit-btn NoWrap grpelem" id="u23840-17" type="submit" value="" tabindex="5"/><!-- state-based BG images -->
     <div class="fld-grp clearfix grpelem" id="widgetu23828" data-required="true"><!-- none box -->
      <label class="fld-label actAsDiv clearfix grpelem" id="u23831-4" for="widgetu23828_input"><!-- content --><span class="actAsPara">MESSAGE *</span></label>
      <span class="fld-textarea actAsDiv clearfix grpelem" id="u23829-4"><!-- content --><textarea class="wrapped-input" id="widgetu23828_input" name="custom_U23828" tabindex="2"></textarea><label class="wrapped-input fld-prompt" id="widgetu23828_prompt" for="widgetu23828_input"><span class="actAsPara">Enter Your Message</span></label></span>
     </div>
     <div class="fld-grp clearfix grpelem" id="widgetu28566" data-required="true"><!-- none box -->
      <label class="fld-label actAsDiv clearfix grpelem" id="u28569-4" for="widgetu28566_input"><!-- content --><span class="actAsPara">PHONE</span></label>
      <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u28567-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu28566_input" name="custom_U28566" tabindex="4"/><label class="wrapped-input fld-prompt" id="widgetu28566_prompt" for="widgetu28566_input"><span class="actAsPara">Enter Phone Number</span></label></span>
     </div>
    </form>
    <div class="browser_width colelem" id="u15409-bw">
     <div id="u15409"><!-- custom html -->
      
         <iframe  class="actAsDiv" width="100%" height="245" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.6214853533893!2d5.381263214867248!3d43.301247883136675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9c097883efbe5%3A0xea0a27b832419bc0!2s36%20Bd%20de%20la%20Libert%C3%A9%2C%2013001%20Marseille%2C%20France!5e0!3m2!1sfr!2stn!4v1643586533661!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
    </div>
    <div class="verticalspacer"></div>
    <div class="clearfix colelem" id="pu4800"><!-- group -->
     <div class="browser_width grpelem" id="u4800-bw">
      <div id="u4800"><!-- group -->
       <div class="clearfix" id="u4800_align_to_page">
        <div class="clearfix grpelem" id="pu4804-4"><!-- column -->
         <div class="clearfix colelem" id="u4804-4"><!-- content -->
          <p>ABOUT US</p>
         </div>
         <div class="clearfix colelem" id="u4801-8"><!-- content -->
          <p>Get the professional edge at The Beauty</p>
          <p>Salon. Our professional team are here</p>
          <p>to give you the best haircut.</p>
         </div>
         <div class="clip_frame colelem" id="u27948"><!-- image -->
          <img class="block" id="u27948_img" src="images/logo_3_1.png" alt="" width="235" height="44"/>
         </div>
        </div>
        <div class="clearfix grpelem" id="pu4803-4"><!-- column -->
         <div class="clearfix colelem" id="u4803-4"><!-- content -->
          <p>ADDRESS</p>
         </div>
         <div class="clearfix colelem" id="u4802-5"><!-- content -->
          <p id="u4802-2">36 Bd de la Liberté, 13001 Marseille, France</p>
          <p id="u4802-3">&nbsp;</p>
         </div>
         <div class="clearfix colelem" id="pbuttonu31572"><!-- group -->
          <div class="Button clearfix grpelem" id="buttonu31572"><!-- container box -->
           <div class="grpelem" id="u31573"><!-- custom html -->
            <i class="fa fa-facebook"></i>
</div>
          </div>
          <div class="Button clearfix grpelem" id="buttonu31575"><!-- container box -->
           <div class="grpelem" id="u31576"><!-- custom html -->
            <i class="fa fa-twitter"></i>
</div>
          </div>
          <div class="Button clearfix grpelem" id="buttonu31578"><!-- container box -->
           <div class="grpelem" id="u31579"><!-- custom html -->
            <i class="fa fa-instagram"></i>
</div>
          </div>
          <div class="Button clearfix grpelem" id="buttonu31581"><!-- container box -->
           <div class="grpelem" id="u31582"><!-- custom html -->
            <i class="fa fa-youtube"></i>
</div>
          </div>
         </div>
        </div>
        <div class="clearfix grpelem" id="pu4809"><!-- column -->
         <div class="clearfix colelem" id="u4809"><!-- group -->
          <div class="clearfix grpelem" id="u4810-4"><!-- content -->
           <p>OPENING TIME</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u27954-16"><!-- content -->
          <p>Monday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Closed</p>
          <p>Tuesday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9 am - 8 pm</p>
          <p>Wednesday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8 am - 8 pm</p>
          <p>Thursday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 am - 8 pm</p>
          <p>Friday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8 am - 6 pm</p>
          <p>Saturday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8 am - 4 pm</p>
          <p>Sunday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8 am - 4 pm</p>
         </div>
         <div class="clearfix colelem" id="u27947-6"><!-- content -->
          <p>© 2022 <span id="u27947-2">Beauty By Aziza.</span> All rights reserved.</p>
         </div>
        </div>
        <a class="nonblock nontext Button anim_swing clearfix grpelem" id="buttonu31656" href="contact.html.twig#top"><!-- container box --><div class="grpelem" id="u31657"><!-- custom html --><i class="fa fa-arrow-up"></i></div></a>
       </div>
      </div>
     </div>
     <div class="browser_width grpelem" id="u4819-bw">
      <div id="u4819"><!-- simple frame --></div>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="images/u23840-17-r.png" alt=""/>
   <img class="preload" src="images/u23840-17-m.png" alt=""/>
   <img class="preload" src="images/u23840-17-fs.png" alt=""/>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="https://www.google.com/maps/place/36+Bd+de+la+Libert%C3%A9,+13001+Marseille,+France/@43.3012479,5.3812632,17z/data=!3m1!4b1!4m5!3m4!1s0x12c9c097883efbe5:0xea0a27b832419bc0!8m2!3d43.301244!4d5.3834519" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?275725342" type="text/javascript"></script>
  <script src="scripts/jquery.musemenu.js?4042164668" type="text/javascript"></script>
  <script src="scripts/webpro.js?3883484123" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?3999102769" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.initWidget('#widgetu23821', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu23821 */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
