.version.about_us /* version checker */
{
	color: #0000E9;
	background-color: #C1B8CD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 999.6499999999905px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	width: 0.01px;
}

#u4705
{
	z-index: 171;
	height: 78px;
	top: 0px;
}

#u4705-bw
{
	z-index: 171;
}

#top
{
	left: -28px;
}

#u27479
{
	z-index: 222;
	width: 236px;
	top: 12px;
	left: 50%;
	margin-left: -525px;
}

#u31546
{
	z-index: 224;
	width: 13px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: -4px;
}

#u27289-4
{
	z-index: 214;
	width: 156px;
	min-height: 16px;
	top: 28px;
	left: 50%;
	margin-left: 15px;
}

#u31548
{
	z-index: 225;
	width: 13px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 213px;
}

#u27288-4
{
	z-index: 210;
	width: 126px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 230px;
}

#u31550
{
	z-index: 226;
	width: 15px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 403px;
}

#u27290-4
{
	z-index: 218;
	width: 99px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 424px;
}

#u4706
{
	z-index: 170;
	height: 55px;
	top: 78px;
}

#u4706-bw
{
	z-index: 170;
}

#menuu4707
{
	z-index: 172;
	width: 715px;
	top: 78px;
	left: 50%;
	margin-left: -523px;
}

#u4715
{
	width: 104px;
	min-height: 55px;
	margin-right: -10000px;
}

#u4716
{
	width: 104px;
	padding-bottom: 39px;
}

#u4716:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4719-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 32px;
}

#u4716:hover #u4719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u4716.MuseMenuActive #u4719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u4722
{
	width: 131px;
	min-height: 55px;
	margin-right: -10000px;
	left: 104px;
}

#u4725
{
	width: 131px;
	padding-bottom: 39px;
}

#u4725.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u4728-4
{
	width: 68px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4725:hover #u4728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u4725.MuseMenuActive #u4728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u4708
{
	width: 127px;
	min-height: 55px;
	margin-right: -10000px;
	left: 235px;
}

#u4711
{
	width: 127px;
	padding-bottom: 39px;
}

#u4711.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u4713-4
{
	width: 64px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4711:hover #u4713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u4711.MuseMenuActive #u4713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u4729
{
	width: 123px;
	min-height: 55px;
	margin-right: -10000px;
	left: 362px;
}

#u4730
{
	width: 123px;
	padding-bottom: 39px;
}

#u4730.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4732-4
{
	width: 60px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4730:hover #u4732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4730.MuseMenuActive #u4732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4743
{
	width: 104px;
	min-height: 55px;
	margin-right: -10000px;
	left: 485px;
}

#u4746
{
	width: 104px;
	padding-bottom: 39px;
}

#u4716.MuseMenuActive,#u4746.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4748-4
{
	width: 41px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4746:hover #u4748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u4746.MuseMenuActive #u4748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u4736
{
	width: 126px;
	min-height: 55px;
	margin-right: -10000px;
	left: 589px;
}

#u4739
{
	width: 126px;
	padding-bottom: 39px;
}

#u4739.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u4740-4
{
	width: 63px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4739:hover #u4740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4739.MuseMenuActive #u4740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u31552
{
	z-index: 227;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 315px;
}

#u31554
{
	z-index: 228;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 353px;
}

#u31556
{
	z-index: 229;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 391px;
}

#u31558
{
	z-index: 230;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 429px;
}

#u31560
{
	z-index: 231;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 467px;
}

#u31562
{
	z-index: 232;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 505px;
}

#ppu28242-4
{
	width: 0.01px;
	margin-top: 183px;
}

#pu28242-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u28242-4
{
	z-index: 77;
	width: 450px;
	min-height: 39px;
	color: #282327;
	font-size: 35px;
	line-height: 42px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#pu28245-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 8px;
}

#u28245-4
{
	z-index: 82;
	width: 160px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u28507
{
	z-index: 97;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u28241-4
{
	z-index: 73;
	width: 419px;
	min-height: 212px;
	background-color: transparent;
	color: #7C7C7C;
	line-height: 25px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 27px;
	position: relative;
}

#u28244
{
	z-index: 81;
	width: 510px;
	height: 340px;
	position: relative;
	margin-right: -10000px;
	left: 541px;
	background: #7C7C7C url("../images/about3.jpg") no-repeat center center;
	background-size: cover;
}

#u28244:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 510px;
	height: 340px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/about3.jpg") no-repeat center center;
	background-size: cover;
}

.fadeInUp,.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu32097
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 80px;
}

#u32097
{
	z-index: 64;
	height: 250px;
	background-color: #000000;
}

#u32097-bw
{
	z-index: 64;
	height: 250px;
}

#u28347
{
	z-index: 87;
	height: 250px;
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: transparent url("../images/p1.jpg") no-repeat center center;
	background-size: cover;
}

#u28347-bw
{
	z-index: 87;
	height: 250px;
}

#u28348-4
{
	z-index: 88;
	width: 940px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 30px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 156px;
}

#buttonu28349
{
	z-index: 92;
	width: 231px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 510px;
}

#buttonu28349:hover
{
	background-color: #FFFFFF;
	width: 231px;
	min-height: 0px;
	margin: 136px -10000px 0px 0px;
}

#u28350-4
{
	z-index: 93;
	width: 119px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 55px;
}

#buttonu28349:hover #u28350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu28349.ButtonSelected #u28350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu28349:hover #u28350-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu28349.ButtonSelected #u28350-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6831-4
{
	z-index: 65;
	width: 720px;
	min-height: 39px;
	line-height: 42px;
	color: #282327;
	font-size: 35px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 150px;
	margin-top: 85px;
	position: relative;
}

#u6833-4
{
	z-index: 69;
	width: 300px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 376px;
	margin-top: 16px;
	position: relative;
}

#u28510
{
	z-index: 99;
	width: 250px;
	background-color: transparent;
	margin-left: 401px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pbuttonu31974
{
	width: 0.01px;
	margin-top: 39px;
}

#buttonu31974
{
	z-index: 101;
	width: 285px;
	border-color: #787878;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #CACACA url("../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31974:hover
{
	width: 285px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: #545454 url("../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31974.ButtonSelected
{
	width: 285px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: #CACACA url("../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#pu31976
{
	z-index: 102;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31976
{
	z-index: 0;
	width: 256px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31974:hover #u31976
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u31975-3
{
	z-index: 103;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../images/facebook.png") no-repeat center center;
}

#buttonu31974:hover #u31975-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31979-3
{
	z-index: 106;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/twitter.png") no-repeat center center;
}

#buttonu31974:hover #u31979-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31978-3
{
	z-index: 109;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/instagram.png") no-repeat center center;
}

#buttonu31974:hover #u31978-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31977-3
{
	z-index: 112;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/google%20plus.png") no-repeat center center;
}

#buttonu31974:hover #u31977-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31980
{
	z-index: 115;
	width: 285px;
	border-color: #787878;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	left: 382px;
	background: #CACACA url("../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31980:hover
{
	width: 285px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31980.ButtonSelected
{
	width: 285px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#pu31984
{
	z-index: 116;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31984
{
	z-index: 0;
	width: 256px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31980:hover #u31984
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#pu31982-3
{
	width: 0.01px;
	position: relative;
	left: 111px;
	padding-top: 34px;
	z-index: 2;
	padding-bottom: 32px;
}

#u31982-3
{
	z-index: 117;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../images/facebook.png") no-repeat center center;
}

#buttonu31980:hover #u31982-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31981-3
{
	z-index: 120;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 40px;
	position: relative;
	background: transparent url("../images/twitter.png") no-repeat center center;
}

#buttonu31980:hover #u31981-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 40px 0px 0px;
}

#buttonu31980.ButtonSelected #u31981-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 40px 0px 0px;
}

#u31985-3
{
	z-index: 123;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/instagram.png") no-repeat center center;
}

#buttonu31980:hover #u31985-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31983-3
{
	z-index: 126;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/google%20plus.png") no-repeat center center;
}

#buttonu31980:hover #u31983-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31974.ButtonSelected #u31979-3,#buttonu31974.ButtonSelected #u31978-3,#buttonu31974.ButtonSelected #u31977-3,#buttonu31980.ButtonSelected #u31985-3,#buttonu31980.ButtonSelected #u31983-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31986
{
	z-index: 129;
	width: 285px;
	border-color: #787878;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	left: 765px;
	background: #CACACA url("../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31986:hover
{
	width: 285px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31986.ButtonSelected
{
	width: 285px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#pu31988
{
	z-index: 130;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31988
{
	z-index: 0;
	width: 256px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31986:hover #u31988
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#buttonu31974.ButtonSelected #u31976,#buttonu31980.ButtonSelected #u31984,#buttonu31986.ButtonSelected #u31988
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#pu31975-3,#pu31987-3
{
	width: 0.01px;
	position: relative;
	left: 111px;
	padding-top: 34px;
	z-index: 2;
	padding-bottom: 40px;
}

#u31987-3
{
	z-index: 131;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../images/facebook.png") no-repeat center center;
}

#buttonu31986:hover #u31987-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#buttonu31974.ButtonSelected #u31975-3,#buttonu31980.ButtonSelected #u31982-3,#buttonu31986.ButtonSelected #u31987-3
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31990-3
{
	z-index: 134;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/twitter.png") no-repeat left top;
}

#buttonu31986:hover #u31990-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31991-3
{
	z-index: 137;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/instagram.png") no-repeat left top;
}

#buttonu31986:hover #u31991-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31989-3
{
	z-index: 140;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../images/google%20plus.png") no-repeat left top;
}

#buttonu31986:hover #u31989-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31986.ButtonSelected #u31990-3,#buttonu31986.ButtonSelected #u31991-3,#buttonu31986.ButtonSelected #u31989-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#pu31992
{
	width: 0.01px;
	margin-top: 27px;
}

#u31992
{
	z-index: 143;
	width: 284px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u31995-4
{
	z-index: 146;
	width: 285px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u31998-4
{
	z-index: 158;
	width: 199px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	color: #777777;
	text-align: center;
	line-height: 28px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 43px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px;
}

#u31993
{
	z-index: 144;
	width: 284px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 382px;
}

#u31996-4
{
	z-index: 150;
	width: 285px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u31999-4
{
	z-index: 162;
	width: 199px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	color: #777777;
	text-align: center;
	line-height: 28px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 42px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px;
}

#u31994
{
	z-index: 145;
	width: 284px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 765px;
}

#u31992_position_content,#u31993_position_content,#u31994_position_content
{
	padding-top: 20px;
	padding-bottom: 23px;
}

#u31997-4
{
	z-index: 154;
	width: 285px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u32000-4
{
	z-index: 166;
	width: 199px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	color: #777777;
	text-align: center;
	line-height: 28px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 42px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px;
}

#u28346
{
	z-index: 86;
	height: 17px;
}

.ie #u28346
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28346-bw
{
	z-index: 86;
	margin-top: 68px;
	height: 17px;
}

#pu4800
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4800
{
	z-index: 2;
	min-height: 364px;
	padding-bottom: 18px;
}

#u4800_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	left: -100px;
}

#pu4804-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 100px;
}

#u4804-4
{
	z-index: 20;
	width: 155px;
	min-height: 20px;
	margin-left: 1px;
}

#u4801-8
{
	z-index: 3;
	width: 300px;
	min-height: 77px;
	margin-left: 1px;
	margin-top: 19px;
}

#u27948
{
	z-index: 36;
	width: 235px;
	margin-top: 161px;
}

#pu4803-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 461px;
}

#u4803-4
{
	z-index: 16;
	width: 155px;
	min-height: 20px;
	margin-left: 3px;
}

#u4802-5
{
	z-index: 11;
	width: 300px;
	min-height: 39px;
	margin-top: 19px;
}

#pbuttonu31572
{
	width: 0.01px;
	margin-top: 10px;
}

#buttonu31572
{
	z-index: 54;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u31573
{
	z-index: 55;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31575
{
	z-index: 56;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 63px;
}

#u31576
{
	z-index: 57;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31578
{
	z-index: 58;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 126px;
}

#u31579
{
	z-index: 59;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31581
{
	z-index: 60;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#buttonu31572.ButtonSelected,#buttonu31575.ButtonSelected,#buttonu31578.ButtonSelected,#buttonu31581.ButtonSelected
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u31582
{
	z-index: 61;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#pu4809
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 776px;
}

#u4809
{
	z-index: 24;
	width: 142px;
	margin-left: 44px;
}

#u4810-4
{
	z-index: 25;
	width: 142px;
	min-height: 23px;
	margin-right: -10000px;
}

#pu27954-16
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 17px;
}

#u27954-16
{
	z-index: 38;
	width: 270px;
	min-height: 200px;
	margin-right: -10000px;
}

#buttonu31640
{
	z-index: 62;
	width: 45px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 330px;
}

#buttonu31640:hover
{
	background-color: #D5D5D5;
	width: 45px;
	min-height: 0px;
	margin: 153px -10000px 0px 0px;
}

#buttonu31640.ButtonSelected
{
	background-color: #FFFFFF;
	width: 45px;
	min-height: 0px;
	margin: 153px -10000px 0px 0px;
}

#u31641
{
	z-index: 63;
	width: 45px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #282327;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u27947-6
{
	z-index: 30;
	width: 374px;
	margin-top: 37px;
}

#u4800-bw
{
	z-index: 2;
	min-height: 364px;
}

#u4819
{
	z-index: 29;
	height: 1px;
}

#u4819-bw
{
	z-index: 29;
	margin-top: 294px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 1050px;
}

#page .verticalspacer
{
	clear: both;
}

