.version.gallery /* version checker */
{
	color: #0000ED;
	background-color: #21749D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 999.9499999999894px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	width: 0.01px;
}

#u4705
{
	z-index: 103;
	height: 78px;
	top: 0px;
}

#u4705-bw
{
	z-index: 103;
}

#top
{
	left: -28px;
}

#u27479
{
	z-index: 154;
	width: 236px;
	top: 12px;
	left: 50%;
	margin-left: -525px;
}

#u31546
{
	z-index: 156;
	width: 13px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: -4px;
}

#u27289-4
{
	z-index: 146;
	width: 156px;
	min-height: 16px;
	top: 28px;
	left: 50%;
	margin-left: 15px;
}

#u31548
{
	z-index: 157;
	width: 13px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 213px;
}

#u27288-4
{
	z-index: 142;
	width: 126px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 230px;
}

#u31550
{
	z-index: 158;
	width: 15px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 403px;
}

#u27290-4
{
	z-index: 150;
	width: 99px;
	min-height: 18px;
	top: 27px;
	left: 50%;
	margin-left: 424px;
}

#u4706
{
	z-index: 102;
	height: 55px;
	top: 78px;
}

#u4706-bw
{
	z-index: 102;
}

#menuu4707
{
	z-index: 104;
	width: 715px;
	top: 78px;
	left: 50%;
	margin-left: -523px;
}

#u4715
{
	width: 104px;
	min-height: 55px;
	margin-right: -10000px;
}

#u4716
{
	width: 104px;
	padding-bottom: 39px;
}

#u4716:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4719-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 32px;
}

#u4716:hover #u4719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u4716.MuseMenuActive #u4719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u4722
{
	width: 131px;
	min-height: 55px;
	margin-right: -10000px;
	left: 104px;
}

#u4725
{
	width: 131px;
	padding-bottom: 39px;
}

#u4725.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u4728-4
{
	width: 68px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4725:hover #u4728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u4725.MuseMenuActive #u4728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u4708
{
	width: 127px;
	min-height: 55px;
	margin-right: -10000px;
	left: 235px;
}

#u4711
{
	width: 127px;
	padding-bottom: 39px;
}

#u4711.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u4713-4
{
	width: 64px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4711:hover #u4713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u4711.MuseMenuActive #u4713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 64px;
	margin: 0px -10000px 0px 0px;
}

#u4729
{
	width: 123px;
	min-height: 55px;
	margin-right: -10000px;
	left: 362px;
}

#u4730
{
	width: 123px;
	padding-bottom: 39px;
}

#u4730.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4732-4
{
	width: 60px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4730:hover #u4732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4730.MuseMenuActive #u4732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4743
{
	width: 104px;
	min-height: 55px;
	margin-right: -10000px;
	left: 485px;
}

#u4746
{
	width: 104px;
	padding-bottom: 39px;
}

#u4716.MuseMenuActive,#u4746.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4748-4
{
	width: 41px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4746:hover #u4748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u4746.MuseMenuActive #u4748-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u4736
{
	width: 126px;
	min-height: 55px;
	margin-right: -10000px;
	left: 589px;
}

#u4739
{
	width: 126px;
	padding-bottom: 39px;
}

#u4739.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u4740-4
{
	width: 63px;
	min-height: 16px;
	margin-right: -10000px;
	top: 19px;
	left: 31px;
}

#u4739:hover #u4740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4739.MuseMenuActive #u4740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u31552
{
	z-index: 159;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 315px;
}

#u31554
{
	z-index: 160;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 353px;
}

#u31556
{
	z-index: 161;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 391px;
}

#u31558
{
	z-index: 162;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 429px;
}

#u31560
{
	z-index: 163;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 467px;
}

#u31562
{
	z-index: 164;
	width: 20px;
	min-height: 22px;
	top: 94px;
	left: 50%;
	margin-left: 505px;
}

#u29276-4
{
	z-index: 65;
	width: 720px;
	min-height: 39px;
	line-height: 42px;
	color: #282327;
	font-size: 35px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 165px;
	margin-top: 187px;
	position: relative;
}

.fadeInUp
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u29277-4
{
	z-index: 69;
	width: 300px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 375px;
	margin-top: 16px;
	position: relative;
}

#u29278
{
	z-index: 73;
	width: 250px;
	background-color: transparent;
	margin-left: 404px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#slideshowu29281
{
	z-index: 75;
	width: 0.01px;
	height: 734px;
	margin-left: 1px;
	margin-top: 46px;
	position: relative;
}

#u29305
{
	position: absolute;
	width: 1173px;
	height: 560px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 480px;
	left: -60px;
	-pie-background: rgba(0,0,0,0.9);
}

#u29305popup
{
	z-index: 76;
}

#u31304
{
	z-index: 77;
	width: 1129px;
	height: 516px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32157
{
	z-index: 79;
	width: 1129px;
	height: 516px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32166
{
	z-index: 81;
	width: 1129px;
	height: 516px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32175
{
	z-index: 83;
	width: 1129px;
	height: 516px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32184
{
	z-index: 85;
	width: 1129px;
	height: 516px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32193
{
	z-index: 87;
	width: 1129px;
	height: 516px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u31304_img,#u32157_img,#u32166_img,#u32175_img,#u32184_img,#u32193_img
{
	padding: 58px 374px 58px 375px;
}

#u29292
{
	position: absolute;
	width: 1050px;
	border-radius: 0px;
	padding-bottom: 28px;
}

#u29292popup
{
	z-index: 89;
}

.fadeIn
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
}

#u31307
{
	z-index: 90;
	width: 286px;
	height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#u32160
{
	z-index: 92;
	width: 286px;
	height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 382px;
}

#u32169
{
	z-index: 94;
	width: 286px;
	height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 738px;
}

#u31307:hover,#u32160:hover,#u32169:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 286px;
	height: 318px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32178
{
	z-index: 96;
	width: 286px;
	height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 26px;
}

#u32187
{
	z-index: 98;
	width: 286px;
	height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 382px;
}

#u32196
{
	z-index: 100;
	width: 286px;
	height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 738px;
}

#u32178:hover,#u32187:hover,#u32196:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 286px;
	height: 318px;
	min-height: 0px;
	margin: 388px -10000px 0px 0px;
}

#u31307_clip,#u32160_clip,#u32169_clip,#u32178_clip,#u32187_clip,#u32196_clip
{
	overflow: hidden;
	width: 286px;
	height: 318px;
}

#u31307_img,#u32160_img,#u32169_img,#u32178_img,#u32187_img,#u32196_img
{
	margin-left: -8px;
	margin-right: -8px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u28528
{
	z-index: 64;
	height: 30px;
}

.ie #u28528
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28528-bw
{
	z-index: 64;
	margin-top: 62px;
	height: 30px;
}

#pu4800
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4800
{
	z-index: 2;
	min-height: 364px;
	padding-bottom: 18px;
}

#u4800_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	left: -100px;
}

#pu4804-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 100px;
}

#u4804-4
{
	z-index: 20;
	width: 155px;
	min-height: 20px;
	margin-left: 1px;
}

#u4801-8
{
	z-index: 3;
	width: 300px;
	min-height: 77px;
	margin-left: 1px;
	margin-top: 19px;
}

#u27948
{
	z-index: 36;
	width: 235px;
	margin-top: 161px;
}

#pu4803-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 461px;
}

#u4803-4
{
	z-index: 16;
	width: 155px;
	min-height: 20px;
	margin-left: 3px;
}

#u4802-5
{
	z-index: 11;
	width: 300px;
	min-height: 39px;
	margin-top: 19px;
}

#pbuttonu31572
{
	width: 0.01px;
	margin-top: 10px;
}

#buttonu31572
{
	z-index: 54;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u31573
{
	z-index: 55;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31575
{
	z-index: 56;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 63px;
}

#u31576
{
	z-index: 57;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31578
{
	z-index: 58;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 126px;
}

#u31579
{
	z-index: 59;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31581
{
	z-index: 60;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#buttonu31572.ButtonSelected,#buttonu31575.ButtonSelected,#buttonu31578.ButtonSelected,#buttonu31581.ButtonSelected
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u31582
{
	z-index: 61;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#pu4809
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 776px;
}

#u4809
{
	z-index: 24;
	width: 142px;
	margin-left: 44px;
}

#u4810-4
{
	z-index: 25;
	width: 142px;
	min-height: 23px;
	margin-right: -10000px;
}

#u27954-16
{
	z-index: 38;
	width: 270px;
	min-height: 200px;
	margin-left: 44px;
	margin-top: 17px;
}

#u27947-6
{
	z-index: 30;
	width: 374px;
	margin-top: 49px;
}

#u4800-bw
{
	z-index: 2;
	min-height: 364px;
}

#u4819
{
	z-index: 29;
	height: 1px;
}

#u4819-bw
{
	z-index: 29;
	margin-top: 294px;
	height: 1px;
}

#buttonu31648
{
	z-index: 62;
	width: 45px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 1150px;
}

#buttonu31648:hover
{
	background-color: #D5D5D5;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#buttonu31648.ButtonSelected
{
	background-color: #FFFFFF;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#u31649
{
	z-index: 63;
	width: 45px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #282327;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

body
{
	position: relative;
	min-width: 1050px;
}

#page .verticalspacer
{
	clear: both;
}

