.version.about_us /* version checker */
{
	color: #0000E1;
	background-color: #A84EBD;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#top
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u31955-4
{
	z-index: 195;
	width: 99px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 44px;
}

#u31956
{
	z-index: 199;
	width: 13px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 198px;
}

#u31954-4
{
	z-index: 191;
	width: 126px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 217px;
}

#u31953,#u31953-bw
{
	z-index: 142;
	min-height: 30px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	left: 8px;
}

#u31958
{
	z-index: 200;
	width: 15px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 21px;
}

#page_position_content,#pu31953,#pu30052-4
{
	width: 0.01px;
}

#u30052-4
{
	z-index: 47;
	width: 340px;
	min-height: 212px;
	background-color: transparent;
	color: #7C7C7C;
	line-height: 25px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 20px;
}

#u30053-4
{
	z-index: 51;
	width: 339px;
	min-height: 39px;
	background-color: transparent;
	color: #282327;
	font-size: 28px;
	line-height: 34px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 21px;
}

#u30054-4
{
	z-index: 55;
	width: 160px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 20px;
}

#u30055
{
	z-index: 59;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 20px;
}

#u29793
{
	z-index: 143;
	min-height: 67px;
	padding-bottom: 11px;
}

#u29842
{
	z-index: 145;
	width: 236px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 23px;
}

#u29793-bw
{
	z-index: 143;
	min-height: 67px;
}

#accordionu29845wrapper
{
	min-height: 349px;
	z-index: 147;
	margin-right: -10000px;
	margin-top: 8px;
	left: 171px;
}

#accordionu29845
{
	z-index: 147;
	width: 190px;
}

#u29846
{
	z-index: 148;
	width: 190px;
}

#u29847-3
{
	z-index: 149;
	width: 180px;
	min-height: 44px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u29847-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 44px;
	width: 180px;
	margin: 0px;
}

#u29848
{
	z-index: 152;
	width: 190px;
	padding-bottom: 25px;
}

#menuu29794
{
	z-index: 153;
	width: 190px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u29812
{
	width: 190px;
	padding-bottom: 29px;
	margin-right: -10000px;
}

#u29812:hover
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29815-4
{
	width: 190px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u29812:hover #u29815-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u29798
{
	width: 190px;
	padding-bottom: 29px;
	margin-right: -10000px;
}

#u29799-4
{
	width: 190px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u29812.MuseMenuActive #u29815-4,#u29798:hover #u29799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u29817
{
	width: 190px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u29820-4
{
	width: 190px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u29798.MuseMenuActive #u29799-4,#u29817:hover #u29820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u29833
{
	width: 190px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u29834-4
{
	width: 190px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u29817.MuseMenuActive #u29820-4,#u29833:hover #u29834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u29805
{
	width: 190px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u29806-4
{
	width: 190px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u29833.MuseMenuActive #u29834-4,#u29805:hover #u29806-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u29809,#u29795,#u29816,#u29830,#u29802,#u29823
{
	width: 190px;
}

#u29826
{
	width: 190px;
	padding-bottom: 28px;
	margin-right: -10000px;
}

#u29812.MuseMenuActive,#u29798.MuseMenuActive,#u29817.MuseMenuActive,#u29833.MuseMenuActive,#u29805.MuseMenuActive,#u29826.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29827-4
{
	width: 190px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u29805.MuseMenuActive #u29806-4,#u29826:hover #u29827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u29826.MuseMenuActive #u29827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u30060
{
	z-index: 62;
	width: 340px;
	height: 242px;
	margin-left: 21px;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/about3-u29989-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u30060:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 340px;
	height: 242px;
	min-height: 0px;
	margin: 32px 0px 0px 21px;
	background-size: cover;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u30061-4
{
	z-index: 63;
	width: 341px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	color: #282327;
	font-size: 28px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 19px;
	margin-top: 75px;
	position: relative;
}

#u30062-4
{
	z-index: 67;
	width: 300px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 41px;
	margin-top: 4px;
	position: relative;
}

#u30063
{
	z-index: 71;
	width: 250px;
	background-color: transparent;
	margin-left: 66px;
	margin-top: 9px;
	position: relative;
}

#buttonu31794
{
	z-index: 100;
	width: 285px;
	border-color: #787878;
	padding-bottom: 15px;
	margin-left: 48px;
	margin-top: 51px;
	position: relative;
	background: #CACACA url("../../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31794:hover
{
	width: 285px;
	min-height: 0px;
	margin: 51px 0px 0px 48px;
	background: #545454 url("../../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31794.ButtonSelected
{
	width: 285px;
	min-height: 0px;
	margin: 51px 0px 0px 48px;
	background: #CACACA url("../../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#pu31797
{
	z-index: 101;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31797
{
	z-index: 0;
	width: 256px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31794:hover #u31797
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u31795-3
{
	z-index: 102;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu31794:hover #u31795-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31798-3
{
	z-index: 105;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu31794:hover #u31798-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31799-3
{
	z-index: 108;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/instagram.png") no-repeat left top;
}

#buttonu31794:hover #u31799-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31796-3
{
	z-index: 111;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu31794:hover #u31796-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u30072
{
	z-index: 73;
	width: 284px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	margin-left: 48px;
	margin-top: 17px;
	position: relative;
}

#u30073-4
{
	z-index: 74;
	width: 285px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #282327;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u30074-4
{
	z-index: 78;
	width: 199px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	color: #777777;
	text-align: center;
	line-height: 28px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 43px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px;
}

#buttonu31800
{
	z-index: 114;
	width: 285px;
	border-color: #787878;
	padding-bottom: 15px;
	margin-left: 48px;
	margin-top: 53px;
	position: relative;
	background: #CACACA url("../../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31800:hover
{
	width: 285px;
	min-height: 0px;
	margin: 53px 0px 0px 48px;
	background: #545454 url("../../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31800.ButtonSelected
{
	width: 285px;
	min-height: 0px;
	margin: 53px 0px 0px 48px;
	background: #CACACA url("../../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#pu31805
{
	z-index: 115;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31805
{
	z-index: 0;
	width: 256px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31800:hover #u31805
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u31802-3
{
	z-index: 116;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu31800:hover #u31802-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31804-3
{
	z-index: 119;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu31800:hover #u31804-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31803-3
{
	z-index: 122;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/instagram.png") no-repeat left top;
}

#buttonu31800:hover #u31803-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31801-3
{
	z-index: 125;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu31800:hover #u31801-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u30099
{
	z-index: 82;
	width: 284px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	margin-left: 48px;
	margin-top: 17px;
	position: relative;
}

#u30100-4
{
	z-index: 83;
	width: 285px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #282327;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u30101-4
{
	z-index: 87;
	width: 199px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	color: #777777;
	text-align: center;
	line-height: 28px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 42px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px;
}

#buttonu31806
{
	z-index: 128;
	width: 285px;
	border-color: #787878;
	padding-bottom: 15px;
	margin-left: 48px;
	margin-top: 51px;
	position: relative;
	background: #CACACA url("../../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31806:hover
{
	width: 285px;
	min-height: 0px;
	margin: 51px 0px 0px 48px;
	background: #545454 url("../../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31806.ButtonSelected
{
	width: 285px;
	min-height: 0px;
	margin: 51px 0px 0px 48px;
	background: #CACACA url("../../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#pu31808
{
	z-index: 129;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31808
{
	z-index: 0;
	width: 256px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31806:hover #u31808
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#buttonu31794.ButtonSelected #u31797,#buttonu31800.ButtonSelected #u31805,#buttonu31806.ButtonSelected #u31808
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#pu31795-3,#pu31802-3,#pu31810-3
{
	width: 0.01px;
	position: relative;
	left: 111px;
	padding-top: 32px;
	z-index: 2;
	padding-bottom: 29px;
}

#u31810-3
{
	z-index: 130;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu31806:hover #u31810-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#buttonu31794.ButtonSelected #u31795-3,#buttonu31800.ButtonSelected #u31802-3,#buttonu31806.ButtonSelected #u31810-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31809-3
{
	z-index: 133;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu31806:hover #u31809-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31807-3
{
	z-index: 136;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/instagram.png") no-repeat left top;
}

#buttonu31806:hover #u31807-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31811-3
{
	z-index: 139;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu31806:hover #u31811-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31794.ButtonSelected #u31798-3,#buttonu31794.ButtonSelected #u31799-3,#buttonu31794.ButtonSelected #u31796-3,#buttonu31800.ButtonSelected #u31804-3,#buttonu31800.ButtonSelected #u31803-3,#buttonu31800.ButtonSelected #u31801-3,#buttonu31806.ButtonSelected #u31809-3,#buttonu31806.ButtonSelected #u31807-3,#buttonu31806.ButtonSelected #u31811-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u30117
{
	z-index: 91;
	width: 284px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	margin-left: 48px;
	margin-top: 17px;
	position: relative;
}

#u30072_position_content,#u30099_position_content,#u30117_position_content
{
	padding-top: 20px;
	padding-bottom: 23px;
}

#u30118-4
{
	z-index: 92;
	width: 285px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #282327;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	left: -1px;
	position: relative;
}

#u30119-4
{
	z-index: 96;
	width: 199px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	color: #777777;
	text-align: center;
	line-height: 28px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 42px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px;
}

#u30058
{
	z-index: 61;
	height: 27px;
}

.ie #u30058
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u30058-bw
{
	z-index: 61;
	margin-top: 25px;
	height: 27px;
}

#pu29919
{
	width: 0.01px;
	margin-top: -1px;
}

#u29919
{
	z-index: 2;
	min-height: 494.83891097952414px;
	padding: 34px 19px 22.161089020475856px 21px;
}

#u29922
{
	z-index: 11;
	width: 142px;
}

#u29923-4
{
	z-index: 12;
	width: 142px;
	min-height: 23px;
	margin-right: -10000px;
}

#u29936-16
{
	z-index: 23;
	width: 270px;
	min-height: 200px;
	margin-top: 12px;
}

#u29921-4
{
	z-index: 7;
	width: 155px;
	min-height: 20px;
	margin-top: 38px;
}

#u29920-4
{
	z-index: 3;
	width: 300px;
	min-height: 39px;
	margin-left: 1px;
	margin-top: 14px;
}

#pbuttonu31773
{
	width: 0.01px;
	margin-top: 15px;
	position: relative;
}

#buttonu31773
{
	z-index: 39;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u31774
{
	z-index: 40;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31776
{
	z-index: 41;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 63px;
}

#u31777
{
	z-index: 42;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31779
{
	z-index: 43;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 126px;
}

#u31780
{
	z-index: 44;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31782
{
	z-index: 45;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#buttonu31773.ButtonSelected,#buttonu31776.ButtonSelected,#buttonu31779.ButtonSelected,#buttonu31782.ButtonSelected
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u31783
{
	z-index: 46;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#u29933-6
{
	z-index: 17;
	width: 340px;
	margin-top: 66px;
}

#u29919-bw
{
	z-index: 2;
	min-height: 494.83891097952414px;
}

#u29924
{
	z-index: 16;
	height: 1px;
}

#u29924-bw
{
	z-index: 16;
	margin-top: 494px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

