.version.about_us /* version checker */
{
	color: #000008;
	background-color: #5AA86E;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1011.9749999999988px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 12px;
	padding-bottom: 0px;
}

#u28827
{
	z-index: 148;
	height: 78px;
}

#u28827-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 148;
	top: 0px;
}

#top
{
	margin-left: 14px;
}

#u28884
{
	z-index: 195;
	width: 236px;
	top: 11px;
	left: 25px;
}

#u31671
{
	z-index: 197;
	width: 13px;
	min-height: 18px;
	top: 30px;
	left: 431px;
}

#u28872-4
{
	z-index: 187;
	width: 126px;
	min-height: 18px;
	top: 30px;
	left: 450px;
}

#u31673
{
	z-index: 198;
	width: 15px;
	min-height: 18px;
	top: 30px;
	left: 623px;
}

#u28877-4
{
	z-index: 191;
	width: 99px;
	min-height: 18px;
	top: 30px;
	left: 644px;
}

#u28826
{
	z-index: 147;
	height: 55px;
}

#u28826-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 147;
	top: 78px;
}

#menuu28828
{
	z-index: 149;
	width: 633px;
	top: 78px;
	left: 25px;
}

#u28843
{
	width: 91px;
	min-height: 55px;
	margin-right: -10000px;
}

#u28844
{
	width: 91px;
	padding-bottom: 41px;
}

#u28844:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u28845-4
{
	width: 37px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28844:hover #u28845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u28844.MuseMenuActive #u28845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u28836
{
	width: 117px;
	min-height: 55px;
	margin-right: -10000px;
	left: 91px;
}

#u28839
{
	width: 117px;
	padding-bottom: 41px;
}

#u28839.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u28840-4
{
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28839:hover #u28840-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u28839.MuseMenuActive #u28840-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u28829
{
	width: 113px;
	min-height: 55px;
	margin-right: -10000px;
	left: 208px;
}

#u28832
{
	width: 113px;
	padding-bottom: 41px;
}

#u28832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u28835-4
{
	width: 59px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28832:hover #u28835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u28850
{
	width: 109px;
	min-height: 55px;
	margin-right: -10000px;
	left: 321px;
}

#u28853
{
	width: 109px;
	padding-bottom: 41px;
}

#u28853.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u28854-4
{
	width: 56px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28853:hover #u28854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u28853.MuseMenuActive #u28854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u28857
{
	width: 91px;
	min-height: 55px;
	margin-right: -10000px;
	left: 430px;
}

#u28860
{
	width: 91px;
	padding-bottom: 41px;
}

#u28844.MuseMenuActive,#u28860.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u28862-4
{
	width: 38px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28860:hover #u28862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u28860.MuseMenuActive #u28862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u28864
{
	width: 112px;
	min-height: 55px;
	margin-right: -10000px;
	left: 521px;
}

#u28865
{
	width: 112px;
	padding-bottom: 41px;
}

#u28865.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u28868-4
{
	width: 59px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28832.MuseMenuActive #u28835-4,#u28865:hover #u28868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u28865.MuseMenuActive #u28868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u29017-4
{
	z-index: 56;
	width: 348px;
	min-height: 39px;
	background-color: transparent;
	color: #282327;
	font-size: 28px;
	line-height: 34px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 25px;
	margin-top: 163px;
	position: relative;
}

#u29019-4
{
	z-index: 61;
	width: 160px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 5px;
	position: relative;
}

#u29020
{
	z-index: 65;
	width: 250px;
	background-color: transparent;
	margin-left: 25px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu29016-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 4px;
}

#u29016-4
{
	z-index: 52;
	width: 348px;
	min-height: 212px;
	background-color: transparent;
	color: #7C7C7C;
	line-height: 25px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u29018
{
	z-index: 60;
	width: 351px;
	height: 274px;
	position: relative;
	margin-right: -10000px;
	left: 368px;
	background: #7C7C7C url("../../images/about3.jpg") no-repeat center center;
	background-size: cover;
}

#u29018:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 351px;
	height: 274px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/about3.jpg") no-repeat center center;
	background-size: cover;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u29024-4
{
	z-index: 67;
	width: 720px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	color: #282327;
	font-size: 28px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 24px;
	margin-top: 93px;
	position: relative;
}

#u29025-4
{
	z-index: 71;
	width: 300px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 235px;
	margin-top: 4px;
	position: relative;
}

#u29053
{
	z-index: 102;
	width: 250px;
	background-color: transparent;
	margin-left: 260px;
	margin-top: 9px;
	position: relative;
}

#pbuttonu31713
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 47px;
}

#buttonu31713
{
	z-index: 105;
	width: 211px;
	border-color: #787878;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31713:hover
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31713.ButtonSelected
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../../images/i3.jpg") no-repeat center center;
	background-size: cover;
}

#pu31716
{
	z-index: 106;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31716
{
	z-index: 0;
	width: 182px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31713:hover #u31716
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u31717-3
{
	z-index: 107;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu31713:hover #u31717-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31718-3
{
	z-index: 110;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu31713:hover #u31718-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31715-3
{
	z-index: 113;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/instagram.png") no-repeat left top;
}

#buttonu31713:hover #u31715-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31714-3
{
	z-index: 116;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu31713:hover #u31714-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31719
{
	z-index: 119;
	width: 211px;
	border-color: #787878;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	left: 254px;
	background: #CACACA url("../../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31719:hover
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31719.ButtonSelected
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../../images/i4.jpg") no-repeat center center;
	background-size: cover;
}

#pu31724
{
	z-index: 120;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31724
{
	z-index: 0;
	width: 182px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31719:hover #u31724
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#u31723-3
{
	z-index: 121;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu31719:hover #u31723-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31720-3
{
	z-index: 124;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu31719:hover #u31720-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31721-3
{
	z-index: 127;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/instagram.png") no-repeat left top;
}

#buttonu31719:hover #u31721-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31722-3
{
	z-index: 130;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu31719:hover #u31722-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31725
{
	z-index: 133;
	width: 211px;
	border-color: #787878;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	left: 508px;
	background: #CACACA url("../../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31725:hover
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu31725.ButtonSelected
{
	width: 211px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../../images/a2.jpg") no-repeat center center;
	background-size: cover;
}

#pu31730
{
	z-index: 134;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 14px;
}

#u31730
{
	z-index: 0;
	width: 182px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu31725:hover #u31730
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#buttonu31713.ButtonSelected #u31716,#buttonu31719.ButtonSelected #u31724,#buttonu31725.ButtonSelected #u31730
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 182px;
	min-height: 0px;
	margin: 0px;
}

#pu31717-3,#pu31723-3,#pu31726-3
{
	width: 0.01px;
	position: relative;
	left: 77px;
	padding-top: 24px;
	z-index: 2;
	padding-bottom: 19px;
}

#u31726-3
{
	z-index: 135;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	color: #000000;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu31725:hover #u31726-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#buttonu31713.ButtonSelected #u31717-3,#buttonu31719.ButtonSelected #u31723-3,#buttonu31725.ButtonSelected #u31726-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 0px;
}

#u31729-3
{
	z-index: 138;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu31725:hover #u31729-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31728-3
{
	z-index: 141;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/instagram.png") no-repeat left top;
}

#buttonu31725:hover #u31728-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#u31727-3
{
	z-index: 144;
	width: 29px;
	min-height: 15px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu31725:hover #u31727-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#buttonu31713.ButtonSelected #u31718-3,#buttonu31713.ButtonSelected #u31715-3,#buttonu31713.ButtonSelected #u31714-3,#buttonu31719.ButtonSelected #u31720-3,#buttonu31719.ButtonSelected #u31721-3,#buttonu31719.ButtonSelected #u31722-3,#buttonu31725.ButtonSelected #u31729-3,#buttonu31725.ButtonSelected #u31728-3,#buttonu31725.ButtonSelected #u31727-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 29px;
	margin: 32px 0px 0px;
}

#pu29044
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 16px;
}

#u29044
{
	z-index: 75;
	width: 210px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 24.021660000876295px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u29047-4
{
	z-index: 78;
	width: 210px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #282327;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u29050-4
{
	z-index: 90;
	width: 176px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	line-height: 28px;
	color: #777777;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 4px;
	position: relative;
	border-width: 1px 0px;
}

#u29075
{
	z-index: 76;
	width: 210px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 24.02166000087675px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u29077-4
{
	z-index: 82;
	width: 210px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #282327;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u29076-4
{
	z-index: 94;
	width: 176px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	line-height: 28px;
	color: #777777;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 4px;
	position: relative;
	border-width: 1px 0px;
}

#u29084
{
	z-index: 77;
	width: 210px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 24.02166000087675px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u29086-4
{
	z-index: 86;
	width: 210px;
	min-height: 18px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #282327;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u29085-4
{
	z-index: 98;
	width: 176px;
	min-height: 28px;
	border-style: solid;
	border-color: #D5D5D5;
	background-color: transparent;
	line-height: 28px;
	color: #777777;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	margin-top: 4px;
	position: relative;
	border-width: 1px 0px;
}

#u29056
{
	z-index: 104;
	height: 43px;
}

.ie #u29056
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u29056-bw
{
	z-index: 104;
	margin-top: 84px;
	height: 43px;
}

#pu28894
{
	width: 0.01px;
	margin-top: -1px;
}

#u28894
{
	z-index: 2;
	min-height: 323px;
	padding: 41px 25px 18px;
}

#pu28897-4
{
	width: 0.01px;
	margin-left: 3px;
	position: relative;
}

#u28897-4
{
	z-index: 8;
	width: 155px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u28899
{
	z-index: 12;
	width: 142px;
	margin-right: -10000px;
	left: 365px;
}

#u28900-4
{
	z-index: 13;
	width: 142px;
	min-height: 23px;
	margin-right: -10000px;
}

#ppu28896-5
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#pu28896-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u28896-5
{
	z-index: 3;
	width: 300px;
	min-height: 39px;
}

#pbuttonu31675
{
	width: 0.01px;
	margin-top: 10px;
}

#buttonu31675
{
	z-index: 42;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u31676
{
	z-index: 43;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31678
{
	z-index: 44;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 63px;
}

#u31679
{
	z-index: 45;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31681
{
	z-index: 46;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 126px;
}

#u31682
{
	z-index: 47;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31684
{
	z-index: 48;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#buttonu31675.ButtonSelected,#buttonu31678.ButtonSelected,#buttonu31681.ButtonSelected,#buttonu31684.ButtonSelected
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u31685
{
	z-index: 49;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#u28913-16
{
	z-index: 26;
	width: 270px;
	min-height: 200px;
	margin-right: -10000px;
	left: 368px;
}

#pu28911
{
	width: 0.01px;
	margin-top: 39px;
	position: relative;
}

#u28911
{
	z-index: 24;
	width: 235px;
	margin-right: -10000px;
}

#u28910-6
{
	z-index: 18;
	width: 374px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 344px;
}

#u28894-bw
{
	z-index: 2;
	min-height: 323px;
}

#u28901
{
	z-index: 17;
	height: 1px;
}

#u28901-bw
{
	z-index: 17;
	margin-top: 294px;
	height: 1px;
}

#buttonu31708
{
	z-index: 50;
	width: 45px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 698px;
}

#buttonu31708:hover
{
	background-color: #D5D5D5;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#buttonu31708.ButtonSelected
{
	background-color: #FFFFFF;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#u31709
{
	z-index: 51;
	width: 45px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #282327;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

