.version.gallery /* version checker */
{
	color: #0000E2;
	background-color: #F4EE8C;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1011.9499999999991px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 12px;
	padding-bottom: 0px;
}

#u28827
{
	z-index: 91;
	height: 78px;
}

#u28827-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 91;
	top: 0px;
}

#top
{
	margin-left: 14px;
}

#u28884
{
	z-index: 138;
	width: 236px;
	top: 11px;
	left: 25px;
}

#u31671
{
	z-index: 140;
	width: 13px;
	min-height: 18px;
	top: 30px;
	left: 431px;
}

#u28872-4
{
	z-index: 130;
	width: 126px;
	min-height: 18px;
	top: 30px;
	left: 450px;
}

#u31673
{
	z-index: 141;
	width: 15px;
	min-height: 18px;
	top: 30px;
	left: 623px;
}

#u28877-4
{
	z-index: 134;
	width: 99px;
	min-height: 18px;
	top: 30px;
	left: 644px;
}

#u28826
{
	z-index: 90;
	height: 55px;
}

#u28826-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 90;
	top: 78px;
}

#menuu28828
{
	z-index: 92;
	width: 633px;
	top: 78px;
	left: 25px;
}

#u28843
{
	width: 91px;
	min-height: 55px;
	margin-right: -10000px;
}

#u28844
{
	width: 91px;
	padding-bottom: 41px;
}

#u28844:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u28845-4
{
	width: 37px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28844:hover #u28845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u28844.MuseMenuActive #u28845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u28836
{
	width: 117px;
	min-height: 55px;
	margin-right: -10000px;
	left: 91px;
}

#u28839
{
	width: 117px;
	padding-bottom: 41px;
}

#u28839.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u28840-4
{
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28839:hover #u28840-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u28839.MuseMenuActive #u28840-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u28829
{
	width: 113px;
	min-height: 55px;
	margin-right: -10000px;
	left: 208px;
}

#u28832
{
	width: 113px;
	padding-bottom: 41px;
}

#u28832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u28835-4
{
	width: 59px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28832:hover #u28835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u28850
{
	width: 109px;
	min-height: 55px;
	margin-right: -10000px;
	left: 321px;
}

#u28853
{
	width: 109px;
	padding-bottom: 41px;
}

#u28853.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u28854-4
{
	width: 56px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28853:hover #u28854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u28853.MuseMenuActive #u28854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u28857
{
	width: 91px;
	min-height: 55px;
	margin-right: -10000px;
	left: 430px;
}

#u28860
{
	width: 91px;
	padding-bottom: 41px;
}

#u28844.MuseMenuActive,#u28860.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u28862-4
{
	width: 38px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28860:hover #u28862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u28860.MuseMenuActive #u28862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u28864
{
	width: 112px;
	min-height: 55px;
	margin-right: -10000px;
	left: 521px;
}

#u28865
{
	width: 112px;
	padding-bottom: 41px;
}

#u28865.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u28868-4
{
	width: 59px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28832.MuseMenuActive #u28835-4,#u28865:hover #u28868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u28865.MuseMenuActive #u28868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u29525-4
{
	z-index: 53;
	width: 718px;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	color: #282327;
	font-size: 28px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 26px;
	margin-top: 163px;
	position: relative;
}

#u29526-4
{
	z-index: 57;
	width: 300px;
	min-height: 27px;
	background-color: transparent;
	color: #777777;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 233px;
	margin-top: 5px;
	position: relative;
}

#u29527
{
	z-index: 61;
	width: 250px;
	background-color: transparent;
	margin-left: 263px;
	margin-top: 10px;
	position: relative;
}

#slideshowu29529
{
	z-index: 63;
	width: 0.01px;
	height: 525px;
	margin-left: 25px;
	margin-top: 46px;
	position: relative;
}

#u29550
{
	position: absolute;
	width: 720px;
	height: 511px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 480px;
	left: 1px;
	-pie-background: rgba(0,0,0,0.9);
}

#u29550popup
{
	z-index: 64;
}

#u29559
{
	z-index: 65;
	width: 676px;
	height: 467px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32313
{
	z-index: 67;
	width: 676px;
	height: 467px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32322
{
	z-index: 69;
	width: 676px;
	height: 467px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32331
{
	z-index: 71;
	width: 676px;
	height: 467px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32340
{
	z-index: 73;
	width: 676px;
	height: 467px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u32349
{
	z-index: 75;
	width: 676px;
	height: 467px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u29559_img,#u32313_img,#u32322_img,#u32331_img,#u32340_img,#u32349_img
{
	padding: 34px 148px 33px;
}

#u29537
{
	position: absolute;
	width: 718px;
	border-radius: 0px;
	padding-bottom: 29px;
}

#u29537popup
{
	z-index: 77;
}

.fadeIn
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
}

#u29542
{
	z-index: 78;
	width: 192px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u32316
{
	z-index: 80;
	width: 192px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 263px;
}

#u32325
{
	z-index: 82;
	width: 192px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 485px;
}

#u29542:hover,#u32316:hover,#u32325:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 192px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32334
{
	z-index: 84;
	width: 192px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 41px;
}

#u32343
{
	z-index: 86;
	width: 192px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 263px;
}

#u32352
{
	z-index: 88;
	width: 192px;
	height: 233px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 485px;
}

#u32334:hover,#u32343:hover,#u32352:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 192px;
	height: 233px;
	min-height: 0px;
	margin: 263px -10000px 0px 0px;
}

#u29542_clip,#u32316_clip,#u32325_clip,#u32334_clip,#u32343_clip,#u32352_clip
{
	overflow: hidden;
	width: 192px;
	height: 233px;
}

#u29542_img,#u32316_img,#u32325_img,#u32334_img,#u32343_img,#u32352_img
{
	margin-left: -15px;
	margin-right: -14px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u29524
{
	z-index: 52;
	height: 30px;
}

.ie #u29524
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u29524-bw
{
	z-index: 52;
	margin-top: 68px;
	height: 30px;
}

#pu28894
{
	width: 0.01px;
	margin-top: -1px;
}

#u28894
{
	z-index: 2;
	min-height: 323px;
	padding: 41px 25px 18px;
}

#pu28897-4
{
	width: 0.01px;
	margin-left: 3px;
	position: relative;
}

#u28897-4
{
	z-index: 8;
	width: 155px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u28899
{
	z-index: 12;
	width: 142px;
	margin-right: -10000px;
	left: 365px;
}

#u28900-4
{
	z-index: 13;
	width: 142px;
	min-height: 23px;
	margin-right: -10000px;
}

#ppu28896-5
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#pu28896-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u28896-5
{
	z-index: 3;
	width: 300px;
	min-height: 39px;
}

#pbuttonu31675
{
	width: 0.01px;
	margin-top: 10px;
}

#buttonu31675
{
	z-index: 42;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u31676
{
	z-index: 43;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31678
{
	z-index: 44;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 63px;
}

#u31679
{
	z-index: 45;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31681
{
	z-index: 46;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 126px;
}

#u31682
{
	z-index: 47;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31684
{
	z-index: 48;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#buttonu31675.ButtonSelected,#buttonu31678.ButtonSelected,#buttonu31681.ButtonSelected,#buttonu31684.ButtonSelected
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u31685
{
	z-index: 49;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#u28913-16
{
	z-index: 26;
	width: 270px;
	min-height: 200px;
	margin-right: -10000px;
	left: 368px;
}

#pu28911
{
	width: 0.01px;
	margin-top: 39px;
	position: relative;
}

#u28911
{
	z-index: 24;
	width: 235px;
	margin-right: -10000px;
}

#u28910-6
{
	z-index: 18;
	width: 374px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 344px;
}

#u28894-bw
{
	z-index: 2;
	min-height: 323px;
}

#u28901
{
	z-index: 17;
	height: 1px;
}

#u28901-bw
{
	z-index: 17;
	margin-top: 294px;
	height: 1px;
}

#buttonu31738
{
	z-index: 50;
	width: 45px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 698px;
}

#buttonu31738:hover
{
	background-color: #D5D5D5;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#buttonu31738.ButtonSelected
{
	background-color: #FFFFFF;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#u31739
{
	z-index: 51;
	width: 45px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #282327;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

