.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u28845-4
{
	font-family: raleway-n7, sans-serif;
}

#u28840-4
{
	font-family: raleway-n7, sans-serif;
}

#u28835-4
{
	font-family: raleway-n7, sans-serif;
}

#u28854-4
{
	font-family: raleway-n7, sans-serif;
}

#u28862-4
{
	font-family: raleway-n7, sans-serif;
}

#u28868-4
{
	font-family: raleway-n7, sans-serif;
}

#u28897-4,#u28900-4
{
	font-family: raleway-n7, sans-serif;
}

#u28872-4,#u28877-4,#u28896-5,#u28913-16,#u28910-6
{
	font-family: open-sans-n4, sans-serif;
}

#u29525-4
{
	font-family: raleway-n7, sans-serif;
}

#u29526-4
{
	font-family: raleway-n4, sans-serif;
}

