.version.sample_news /* version checker */
{
	color: #0000EF;
	background-color: #9FBA4B;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1011.9750000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 12px;
	padding-bottom: 0px;
}

#u28827
{
	z-index: 76;
	height: 78px;
}

#u28827-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 76;
	top: 0px;
}

#top
{
	margin-left: 14px;
}

#u28884
{
	z-index: 123;
	width: 236px;
	top: 11px;
	left: 25px;
}

#u31671
{
	z-index: 125;
	width: 13px;
	min-height: 18px;
	top: 30px;
	left: 431px;
}

#u28872-4
{
	z-index: 115;
	width: 126px;
	min-height: 18px;
	top: 30px;
	left: 450px;
}

#u31673
{
	z-index: 126;
	width: 15px;
	min-height: 18px;
	top: 30px;
	left: 623px;
}

#u28877-4
{
	z-index: 119;
	width: 99px;
	min-height: 18px;
	top: 30px;
	left: 644px;
}

#u28826
{
	z-index: 75;
	height: 55px;
}

#u28826-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 75;
	top: 78px;
}

#menuu28828
{
	z-index: 77;
	width: 633px;
	top: 78px;
	left: 25px;
}

#u28843
{
	width: 91px;
	min-height: 55px;
	margin-right: -10000px;
}

#u28844
{
	width: 91px;
	padding-bottom: 41px;
}

#u28844:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u28845-4
{
	width: 37px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28844:hover #u28845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u28844.MuseMenuActive #u28845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u28836
{
	width: 117px;
	min-height: 55px;
	margin-right: -10000px;
	left: 91px;
}

#u28839
{
	width: 117px;
	padding-bottom: 41px;
}

#u28839.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u28840-4
{
	width: 63px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28839:hover #u28840-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u28839.MuseMenuActive #u28840-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u28829
{
	width: 113px;
	min-height: 55px;
	margin-right: -10000px;
	left: 208px;
}

#u28832
{
	width: 113px;
	padding-bottom: 41px;
}

#u28832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u28835-4
{
	width: 59px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 27px;
}

#u28832:hover #u28835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u28850
{
	width: 109px;
	min-height: 55px;
	margin-right: -10000px;
	left: 321px;
}

#u28853
{
	width: 109px;
	padding-bottom: 41px;
}

#u28853.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u28854-4
{
	width: 56px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28853:hover #u28854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u28853.MuseMenuActive #u28854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u28857
{
	width: 91px;
	min-height: 55px;
	margin-right: -10000px;
	left: 430px;
}

#u28860
{
	width: 91px;
	padding-bottom: 41px;
}

#u28844.MuseMenuActive,#u28860.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u28862-4
{
	width: 38px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28860:hover #u28862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u28860.MuseMenuActive #u28862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u28864
{
	width: 112px;
	min-height: 55px;
	margin-right: -10000px;
	left: 521px;
}

#u28865
{
	width: 112px;
	padding-bottom: 41px;
}

#u28865.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u28868-4
{
	width: 59px;
	min-height: 14px;
	margin-right: -10000px;
	top: 20px;
	left: 26px;
}

#u28832.MuseMenuActive #u28835-4,#u28865:hover #u28868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u28865.MuseMenuActive #u28868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u29662
{
	z-index: 52;
	width: 600px;
	padding-bottom: 333px;
	margin-left: 84px;
	margin-top: 183px;
	position: relative;
	background: #7C7C7C url("../../images/n3.jpg") no-repeat center center;
	background-size: cover;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u29663-4
{
	z-index: 53;
	width: 230px;
	min-height: 38px;
	border-color: #7F7F7F;
	background-color: #D09794;
	line-height: 38px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: -19px;
	left: 185px;
}

#u29663-4:hover
{
	background-color: #282327;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 230px;
	margin: -19px -10000px 0px 0px;
}

#u29663-2
{
	padding-top: 1px;
}

#u29664-4
{
	z-index: 57;
	width: 548px;
	min-height: 30px;
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 25px;
	color: #282327;
	font-size: 28px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 84px;
	margin-top: 32px;
	position: relative;
}

#u29666-4
{
	z-index: 65;
	width: 391px;
	min-height: 21px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 84px;
	margin-top: 9px;
	position: relative;
}

#u29665-4
{
	z-index: 61;
	width: 600px;
	min-height: 219px;
	background-color: transparent;
	color: #7C7C7C;
	line-height: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 84px;
	margin-top: 13px;
	position: relative;
}

#pu29668
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 14px;
}

#u29668
{
	z-index: 73;
	width: 4px;
	height: 120px;
	background-color: #D09794;
	position: relative;
	margin-right: -10000px;
}

#u29667-4
{
	z-index: 69;
	width: 580px;
	background-color: transparent;
	color: #D09794;
	line-height: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u29669
{
	z-index: 74;
	height: 30px;
}

.ie #u29669
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u29669-bw
{
	z-index: 74;
	margin-top: 69px;
	height: 30px;
}

#pu28894
{
	width: 0.01px;
	margin-top: -1px;
}

#u28894
{
	z-index: 2;
	min-height: 323px;
	padding: 41px 25px 18px;
}

#pu28897-4
{
	width: 0.01px;
	margin-left: 3px;
	position: relative;
}

#u28897-4
{
	z-index: 8;
	width: 155px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u28899
{
	z-index: 12;
	width: 142px;
	margin-right: -10000px;
	left: 365px;
}

#u28900-4
{
	z-index: 13;
	width: 142px;
	min-height: 23px;
	margin-right: -10000px;
}

#ppu28896-5
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#pu28896-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u28896-5
{
	z-index: 3;
	width: 300px;
	min-height: 39px;
}

#pbuttonu31675
{
	width: 0.01px;
	margin-top: 10px;
}

#buttonu31675
{
	z-index: 42;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u31676
{
	z-index: 43;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31678
{
	z-index: 44;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 63px;
}

#u31679
{
	z-index: 45;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31681
{
	z-index: 46;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 126px;
}

#u31682
{
	z-index: 47;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#buttonu31684
{
	z-index: 48;
	width: 50px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 190px;
}

#buttonu31675.ButtonSelected,#buttonu31678.ButtonSelected,#buttonu31681.ButtonSelected,#buttonu31684.ButtonSelected
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u31685
{
	z-index: 49;
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#u28913-16
{
	z-index: 26;
	width: 270px;
	min-height: 200px;
	margin-right: -10000px;
	left: 368px;
}

#pu28911
{
	width: 0.01px;
	margin-top: 39px;
	position: relative;
}

#u28911
{
	z-index: 24;
	width: 235px;
	margin-right: -10000px;
}

#u28910-6
{
	z-index: 18;
	width: 374px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 344px;
}

#u28894-bw
{
	z-index: 2;
	min-height: 323px;
}

#u28901
{
	z-index: 17;
	height: 1px;
}

#u28901-bw
{
	z-index: 17;
	margin-top: 294px;
	height: 1px;
}

#buttonu31753
{
	z-index: 50;
	width: 45px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 698px;
}

#buttonu31753:hover
{
	background-color: #D5D5D5;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#buttonu31753.ButtonSelected
{
	background-color: #FFFFFF;
	width: 45px;
	min-height: 0px;
	margin: 235px -10000px 0px 0px;
}

#u31754
{
	z-index: 51;
	width: 45px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #282327;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

